@page
@model PlantSearch.Pages.LoginModel
@{
    Layout = null;
    ViewData["Title"] = "Đăng nhập";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

</head>
<body>
    <div class="container">
    <div class="screen">
        <div class="screen__content">
            <form method="post" class="login">
                @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                {
                    <div class="alert alert-danger text-center">
                        @Model.ErrorMessage
                    </div>
                }

                <div class="login__field">
                    <i class="login__icon fas fa-user"></i>
                    <input asp-for="Input.Username" class="login__input" placeholder="Tên đăng nhập" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>

                <div class="login__field">
                    <i class="login__icon fas fa-lock"></i>
                    <input asp-for="Input.Password" class="login__input" type="password" placeholder="Mật khẩu" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="login__field">
                    <input asp-for="Input.RememberMe" type="checkbox" />
                    <label asp-for="Input.RememberMe" class="text-white ms-2">Ghi nhớ đăng nhập</label>
                </div>

                <button type="submit" class="button login__submit">
                    <span class="button__text">Đăng nhập</span>
                    <i class="button__icon fas fa-chevron-right"></i>
                </button>
            </form>

            <div class="social-login">
                <h3>Đăng nhập qua</h3>
                <div class="social-icons">
                    <a href="#" class="social-login__icon fab fa-instagram"></a>
                    <a href="#" class="social-login__icon fab fa-facebook"></a>
                    <a href="#" class="social-login__icon fab fa-twitter"></a>
                </div>
            </div>
        </div>

        <div class="screen__background">
            <span class="screen__background__shape screen__background__shape4"></span>
            <span class="screen__background__shape screen__background__shape3"></span>
            <span class="screen__background__shape screen__background__shape2"></span>
            <span class="screen__background__shape screen__background__shape1"></span>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

</body>
</html>
